<!DOCTYPE HTML>
<html>
  <head></head>
  <body bgcolor="#f7f8fa">
    <table cellpadding="0" cellspacing="0" border="0" width="600" style="margin: 25px auto; font-family: Arial;">
      <thead>
        <tr>
          <td>
            <p><img width="95" src="https://draftapp.io/images/invite_email/draft_logo_2x.png" alt=""></p>
            <h1 style="font-size: 28px; color: #39405b;">Your invitation to Draft <br />App beta test is here!</h1>
          </td>
          <td><img src="https://draftapp.io/images/invite_email/artwork_2x.png" alt="" width="264"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" bgcolor="#ffffff" style="padding: 0 15px 15px; font-size: 15px; color: #777d93; line-height: 1.4">
            <p style="margin-bottom: 30px;">Hello <span style="color:#4e8ef7;">Matthew</span>!</p>
            <p style="margin-bottom: 30px;">Today, we’re very excited to announce that Draft App private beta is ready for you to explore! Now it is ready for testing and scrutiny. We are searching for honest, sharp opinions from  knowledgeable community members like you in order to tell us what we are doing wrong  and, hopefully, what we are doing right.</p>
            <p style="margin-bottom: 30px;">Together, let’s collaborate to build something that real people will love to use as much as we  are enjoying in building it, as simple as that!.</p>
            <p style="margin-bottom: 30px;">Ready to get started?</p>
            <p style="margin-bottom: 30px; text-align: center;"><a href="#" style="background: #4fd696; color: #fff; text-decoration: none; line-height: 54px; display: inline-block; padding: 0 40px; border-radius: 5px; font-size: 16px;">Become a Beta Tester</a></p>
            <p style="margin-bottom: 30px;">While we’re in private beta, not everything will be perfect yet. Your feedback will be extremely helpful in finalizing and improving the final version of Draft App. Please let us know of any suggestions, ideas or bugs that you encounter, and we will use your feedback to improve the final product.</p>
            <p style="margin-bottom: 30px;">Don’t want to be a beta tester? No problem - we’ll e-mail you again once we launch Draft App and you can start your free membership then.</p>
            <p style="margin: 0; color: #39405b;">Happy Collaboration!</p>
            <p style="margin: 0; color: #39405b;">Ramy Doss</p>
            <p style="margin: 0; color: #39405b;">Co-Founder  |  <a style="color: #4e8ef7; text-decoration: none;" href="mailto:ramy@draftapp.io">ramy@draftapp.io</a></p>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <p style="text-align: center; color: #787d94; font-size: 12px; margin-top: 20px;">You are receiving this email because you subscribed for Draft App Private Beta. <br />If you did not, you can <a href="#" style="color: #4e8ef7; text-decoration: none;">unsubscribe here</a></p>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
